__pycache__/
*.csv
*.html
*.DS_Store
.vscode/
*.vscode/
.idea/
.idea/*
*.idea/
.empty/
*.empty/
*.xml
walk_forward_model.pkl
.ipynb_checkpoints/
.lake_cache
*.conf
data/*
trading_bot.egg-info/
/Users/louisspencer/Desktop/Trading-Bot/analysis/ml/custom_transformers.py
.venv/*
.venv
build/